<%= form_for([@list, @task]) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <b> List: </b>
    <b><%= @list.name %></b>
  </div>
  <div class="field">
    <%= f.label :text , "Add Task" %><br />
    <%= f.text_area :text %>
  </div>
  <div class="field">
    <%= f.label :is_completed %><br />
    <%= f.check_box :is_completed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
